<% if @room.errors.any? %>
  <div class="alert alert-danger">
    <h2>The following messages avoid article creation</h2>
    <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
